body {
	height:100vh;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

span > a:hover {
	color: #636363;
	text-decoration: none;
}

.activeLink {
	color: #18578C;
}

.activeLink:hover {
	color: #2a7bbf;
	text-decoration: none;
}