body {
	height:100vh;
	width:100%;
	margin-left: auto;
	margin-right: auto;
}

span > a:hover {
	color: #636363;
	text-decoration: none;
}

.activeLink {
	color: #18578C;
}

.activeLink:hover {
	color: #2a7bbf;
}

a:hover {
    text-decoration: none;
}

.animation {
	transition: width 1s;
}

.my-dropdown {
    border-radius: .50rem!important;
    transform: translate3d(calc(100vw - 120px), 65px, 0px)!important;
    padding: 2px!important;
    min-width: 0px!important;
}

img {
	object-fit: cover;
}

div.card:hover {
  background-color: #f7f7f7;
}